.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/pubspec.lock
*.iml
*.ipr
*.iws
.idea/
.vscode/
android/local.properties
android/key.properties
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
**/firebase_options.dart
*.g.dart
.DS_Store
